* {
    padding: 0;
    margin: 0;
}
.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainContainer {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
    margin: 100px 0;
}
.displayBoard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 2px;
}
.col {
    display: grid;
    gap: 2px;
}
.cell {
    height: 48px;
    width: 48px;
    border: 1px solid black;
}
.footerContainer {
    display: flex;
    justify-content: center;
}
.footerBox {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.linkContainer {
    display: flex;
    justify-content: center;
}
.gitIcon,
.linkIcon {
    height: 40px;
}