* {
    padding: 0;
    margin: 0;
}
.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainContainer {
    display: flex;
    justify-content: center;
    margin: 100px 0;
}
.initialContent {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    gap: 20px;
}
.displayBoard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 2px;
    margin: 0 auto;
}
.col {
    display: grid;
    gap: 2px;
}
.cell {
    height: 48px;
    width: 48px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}
.ship {
    background-color: slategrey;
}
.hit {
    background-color: #D00000;
}
.miss {
    background-color: #2364AA;
}
.footerContainer {
    display: flex;
    justify-content: center;
}
.footerBox {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.linkContainer {
    display: flex;
    justify-content: center;
}
.gitIcon,
.linkIcon {
    height: 40px;
}